.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  min-height: 10vh;
  min-width: 20vh;
  border-radius: 20px;
  border-style: none;
  background-color: #ffffff;
  color: #282c34;
  font-size: calc(10px + 2vmin);
  display: inline-block;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #61DBFB;
  }

